@use './../../../../global.scss' as global;

.bg-dark-signUp {
	background-color: #12002b;
	position: relative;
}
h1 {
	font-size: 45px;
	color: global.$secondary-color;
	font-weight: 700;
}
.errorMessage {
	background: red;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 76vh;
	left: 50%;
	transform: translateX(-50%);
	width: 40%;
	height: 70px;
	font-size: 25px;
	margin: 0;
	color: #fff;
}

.background {
	position: absolute;
	width: calc(40% + 10px);
	height: calc(60vh + 10px);
	left: 50%;
	top: 53%;
	transform: translate(-50%, -50%);
	border-radius: 30px;
	overflow: hidden;
	span {
		background: global.$primary-color;
		display: flex;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transform-origin: 0 0;
		width: 150px;
		height: 110vh;
		animation: rotation 4.5s linear infinite;
		@keyframes rotation {
			from {
				rotate: 0deg;
			}
			to {
				rotate: 360deg;
			}
		}
	}
}
.form-signup {
	background: #fff;
	box-sizing: border-box;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 21%;
	height: 57%;
	left: 50%;
	top: 53%;
	transform: translate(-50%, -50%);
	padding: 25px;
	border-radius: 10px;
	a {
		width: 100%;
	}
	div {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		input {
			width: 100%;
			height: 100%;
			font-size: 18px;
			border: none;
			border-bottom: 1px solid black;
			&:focus {
        outline: none;
				border: none;
				border-bottom: 2px solid global.$primary-color;
			}
		}
		.show {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 4%;
			height: 50%;
			right: 2%;
			top: 50%;
			transform: translateY(-50%);
			margin: 0;
			cursor: pointer;
		}
	}
}
.SIGNUP {
	border: none;
  height: 40px;
  width: 90%;
  margin-top: 10px;
}
