@use './../../../global.scss' as global;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: global.$font-color;
    .loading {
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        width: auto;
    }
    #spinner {
        position: absolute;
        display: flex;
        width: 200px;
        height: 200px;
        border: 20px solid global.$secondary-color;
        border-top:20px solid global.$primary-color;
        border-radius: 100%;
        animation: rotate 2.5s linear infinite;
        @keyframes rotate {
            0% {transform: rotate(0deg);}
            100% {transform: rotate(360deg);}
        }
    }
    
}