.header {
	position: relative;
	color: #2c3e50 !important;
	h3 {
		padding: 0;
		margin-top: 0;
	}
	.virementButtonAdmin{
	position: absolute;
	bottom: 0;
	right: 10.5%;
	}
	.infosClient {
		color: #2c3e50;
		display: flex;
		justify-content: center;
		gap: 15px;
		width: 100%;
	}
}
.portefeuilleClient {
	color: #12002b;
	margin-bottom: 70px;
}

.linkAccountAdminUserPage {
	text-decoration: none;
}
.accountAdminUserPage {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	width: 80%;
	margin: 10px auto;
	box-sizing: border-box;
	text-align: left;
	border-radius: 6px;
	color: #12002b;
	height: 10vh;
	&-invisible {
		background-color: #999999;
	}
	&-name {
		position: absolute;
		left: 20px;
	}
	&-closed {
		position: absolute;
		left: 20%;
		color: rgb(219, 0, 0);
	}
	&-nbAccount {
		position: absolute;
		right: 40%;
	}
	&-solde {
		position: absolute;
		right: 20px;
	}
}

.Modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #ccc;
	background: #fff;
	overflow: auto;
	width: 50%;
	height: 70%;
	border-radius: 20px;
	outline: none;
	padding: 20px;
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
}

.formModal-addAccount, .formModal-makeVirement{
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  label{
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 22px;
    width: 90%;
    margin: auto;
    input{
      height: 50%;
      width: 60%;
    }
    select{
      height: 52%;
      width: 61%;
    }
		input[type="checkbox"]{
			height: 30%;
		}
  }
	.makeVirement, .addAccount{
		width: 60%;
    height: 50px;
	}
}