@use './../../../../global.scss' as global;

.main-adminUserAccountPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data-adminUserAccountPage{
width: 100%;
height: 52vh;
display: flex;
flex-direction: row;
justify-content: space-around;
box-sizing: border-box;
padding-bottom: 20px;
.chart-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  height: 100%;
  background: global.$font-color;
  border-radius: 10px;
  box-sizing: border-box;
  padding-bottom: 30px;
  h2{
    color: #fff;
  }
  .chart{
    width: 90%;
    height: 100%;
  }
}

.account-adminUserAccountPage {
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
  height: 100%;
	// position: absolute;
	// left: 50%;
	// transform: translateX(-50%);
	border-radius: 10px;
  &-invisible{
    background-color: #999999;
    .accountAdminUserPage-closed{
      position: relative;
      left: 0;
    }
  }
  .entete-account {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
  }
  .AllOperation-account {
    width: 100%;
    height: 55vh;
    overflow-y: scroll;
    scrollbar-width: none;
	}
}
}
.trash[data-descr]{
  position: relative;
  text-decoration: underline;
  color: #00f;
  cursor: help;
}

.trash[data-descr]:hover::after,
.trash[data-descr]:focus::after {
  content: attr(data-descr);
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(15%, -100%);
  min-width: 130px;
  border: 1px #5a0000 solid;
  border-radius: 10px;
  background-color: #ff0000;
  padding: 12px;
  color: #fff;
  font-size: 14px;
  z-index: 1;
}

.formModal-addOperations{
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  label{
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 22px;
    width: 70%;
    margin: auto;
    input{
      height: 50%;
      width: 70%;
    }
  }
  .addOperations{
    width: 60%;
    height: 50px;
  }
}