.operation-account {
  position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 2px solid black;
  &-date{
    position: absolute;
    left: 40px;
  }
	&-infos {
    position: relative;
    left: 25%;
		margin: 0;
		&-title {
			height: 40px;
			margin: 0;
			display: flex;
			align-items: center;
      font-weight: 700;
      font-size: 18px;
		}
		&-description, &-category{
			height: 30px;
			margin: 0;
			align-items: center;
      justify-content: flex-end;
		}
    .fa-pencil, .fa-check{
      margin-left: 10px;
      cursor: pointer;
    }
	}
  &-montant{
    position: absolute;
    right: 15%;
  }
  .fa-chevron-down, .fa-chevron-up{
    position: absolute;
    right: 40px;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  input, select{
    width: 61%;
    height: 80%;
    outline: none;
    text-align: right;
    margin-left: 5px;
  }
}
