@use './../../../../global.scss' as global;

.asideAdd {
	right: -100%;
	top: 49%;
	transform: translateY(-50%);
	.aside-title {
		display: none;
	}
	form {
		display: none;
	}
	.fa-x {
		display: none;
	}
	&-show {
		transition: all 0.5s linear;
		position: fixed;
		top: 49%;
		transform: translateY(-50%);
		right: 0;
		width: 40%;
		height: 85%;
		background-color: #fffffff8;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: center;
		.fa-x {
			display: flex;
			position: absolute;
			top: 20px;
			left: 40px;
			font-size: 30px;
			cursor: pointer;
		}
		.aside-title {
			display: flex;
			margin-top: 105px;
			font-size: 34px;
		}
		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			box-sizing: border-box;
			gap: 15px;
			padding: 52px 50px;
			label {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				gap: 10px;
				width: 100%;
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 20px;
				input {
					width: 100%;
					height: 45px;
					font-size: 18px;
				}
			}
		}
	}
}

.wrapper {
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	width: 100%;
	height: 84vh;
	padding: 10px 0;
	.wrapper-virement {
		background: #fff;
		box-sizing: border-box;
		height: 100%;
		box-sizing: border-box;
		padding: 20px 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;
		width: 60%;
		border-radius: 10px;
	}
	.wrapper-beneficiaires {
		width: 30%;
		background: global.$font-color;
		color: #fff;
		box-sizing: border-box;
		border-radius: 10px;
		padding: 20px 2px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.wrapper-beneficiaires-header {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			box-sizing: border-box;
			height: 50px;
			position: relative;
			.addBeneficiaire {
				height: 40px;
				border-radius: 50%;
				box-sizing: border-box;
				aspect-ratio: 1;
				font-size: 30px;
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.wrapper-beneficiaires-list {
			overflow-y: scroll;
			scrollbar-width: none;
			width: 100%;
			ul {
				box-sizing: border-box;
				padding: 0 30px;
				width: 100%;
				li {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					list-style: none;
					margin-bottom: 10px;
					.beneficiaire-name {
						font-weight: 900;
					}
				}
			}
		}
	}
}

.titleModal {
	font-size: 34px;
	margin: 35px 0;
}
.formModal {
	padding: 2px;
	font-size: 24px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
}

.modalButton {
	border: none;
	margin-top: 13px;
}
.choix {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	.debiteur,
	.crediteur {
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.label-account {
			justify-content: center;
			margin-bottom: 10px;
			width: 100%;
		}
		select {
			width: 100%;
			height: 45px;
			box-sizing: border-box;
			padding-left: 10px;
			font-size: 16px;
		}
	}
	.fa-arrow-right-arrow-left {
		font-size: 25px;
		position: absolute;
		bottom: 22px;
		right: 50%;
		transform: translate(50%, 50%);
	}
}

.infos,
.description {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 45%;
	}
	input {
		width: 100%;
		height: 45px;
		box-sizing: border-box;
		padding-left: 10px;
		margin-top: 10px;
		font-size: 18px;
	}
	#solde {
		text-align: center;
	}
}
