.portefeuilleClient {
	font-size: 22px;
}
.filterBar {
	display: flex;
	margin-bottom: 30px;
	.inputNumber{
		width: 50px;
		text-align: center;
		margin-right: 1px;
		margin-left: 40px;
	}
	p{
		margin: 0;
		padding: 0;
	}
}
.addAdminUser{
	position: absolute;
	right: 10%;
	top: 5vh;
}
.input{
	height: 25px;
	width: 15%;
	padding-left: 10px;
}
.AdminAllUser-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
	gap: 20px;
	padding-bottom: 50px;
	.linkToAdminUserAccountPage {
		text-decoration: none;
		color: #12002b;
		display: flex;
		width: 32%;
		height: 30vh;
		margin: auto;
		.AdminAllUser {
			background-color: #fff;
			display: flex;
			width: 100%;
			border-radius: 10px;
			overflow-y: hidden;
			&-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 5px;
				width: 100%;
				padding-top: 10px;
				&-title {
					margin: 5px;
				}
				&-id {
					margin: 0;
				}
				.allAccountUser {
					width: 100%;
					overflow-y: scroll;
					scrollbar-width: thin;
				}
				.AdminUserAccount {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					box-sizing: border-box;
					padding: 0 20px;
					border-top: 0.5px solid grey;
					&-invisible {
						background: #999999;
					}
					&-name {
						font-weight: 700;
						font-size: 14px;
						width: 25%;
					}
					&-solde {
						border: none;
						display: flex;
						justify-content: center;
						&::after {
							content: "€";
							display: flex;
							flex-direction: row;
						}
					}
				}
			}
		}
	}
}
.pagination{
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
	button{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: none;
		background-color: #00bc77;
		color:#fff;
		cursor: pointer;
		&.active{
			background-color: #103d20;
			color: #fff;
		}
	}
}