.main-admin{
	max-height: none !important;
}

.portefeuilleClient {
	font-size: 22px;
}
.filterBar {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	height: 55px;
	input{
		height: 65%;
		border-radius: 5px;
		border: 1px solid black;
	}
	.inputNumber{
		width: 50px;
		text-align: center;
		margin-right: 1px;
		margin-left: 25px;
	}
	p{
		color:#12002b;
		margin-left: 5px;
		padding: 0;
	}
}
.addAdminUser{
	position: absolute;
	right: 10%;
	top: 5vh;
}
.input{
	height: 25px;
	width: 15%;
	padding-left: 10px;
}
.AdminAllUser-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
	gap: 20px;
	padding-bottom: 50px;
	.linkToAdminUserAccountPage {
		text-decoration: none;
		color: #12002b;
		display: flex;
		width: 32%;
		height: 34vh;
		margin: auto;
		
		.AdminAllUser {
			background-color: #fff;
			display: flex;
			width: 100%;
			border-radius: 10px;
			overflow-y: hidden;
			&-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 5px;
				width: 100%;
				padding-top: 10px;
				&-title {
					margin: 5px;
				}
				&-id {
					margin: 0;
				}
				.allAccountUser {
					width: 100%;
					overflow-y: scroll;
					scrollbar-width: thin;
					display: flex;
					flex-direction: column;
					height: 100%;
				}
				.AdminUserAccount {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-around;
					box-sizing: border-box;
					padding: 0 20px;
					border-top: 0.5px solid grey;
					height: 100%;
					&-invisible {
						background: #999999;
					}
					&-name {
						font-weight: 700;
						font-size: 14px;
						width: 25%;
					}
					&-solde {
						border: none;
						display: flex;
						justify-content: center;
						&::after {
							content: "€";
							display: flex;
							flex-direction: row;
						}
					}
				}
			}
		}
	}
}
.pagination{
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
	button{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: none;
		background-color: #00bc77;
		color:#fff;
		cursor: pointer;
		&.active{
			background-color: #103d20;
			color: #fff;
		}
	}
}

.form-signup-admin{
	height: 100%;
	width: 80%;
	margin: auto;
	box-sizing: border-box;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	&-group{
		position: relative;
		height: 10%;
		width: 80%;
		margin: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		p{
			width: 70%;
			text-align: left;
			font-weight: 700;
		}
		input{
			height: 60%;
			width: 80%;
		}
		span{
			position: absolute;
			right: 5%;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
		}
	}
}