.buttonArgentBank {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	font-size: 1.1rem;
	font-weight: bold;
	border-color: #00bc77;
	background-color: #00bc77;
	color: #fff;
	margin: 0;
	cursor: pointer;
	border-radius: 10px;
	text-decoration: none;
}
