.operation-account {
  position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 2px solid black;
  &-date{
    position: absolute;
    left: 40px;
  }
	&-infos {
    position: relative;
    left: 25%;
		margin: 0;
		&-title {
			height: 40px;
			margin: 0;
			display: flex;
			align-items: center;
      font-weight: 700;
      font-size: 18px;
		}
		&-description {
			height: 30px;
			margin: 0;
			align-items: center;
		}
	}
  &-montant{
    position: absolute;
    right: 15%;
  }
  .fa-solid{
    position: absolute;
    right: 40px;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
