@use "./../../../../global.scss" as global;
.allCharts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 70%;
	gap: 50px 0px;
	margin-bottom: 10px;
	height: 70vh;
	background: #fff;
	width: 70%;
	border-radius: 10px;
}
.charts-wrapper {
	display: flex;
	justify-content: space-around;
	height: 100%;
}
.budget-wrapper {
	margin-bottom: 10px;
	width: 25%;
	background: global.$font-color;
	color: #fff;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 20px 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&-depensé,
	&-pourcentage {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
		font-size: 20px;
		height: 50%;
		p {
			margin: 0;
		}
	}
	&-depensé {
		border-bottom: 2px solid #ccc;
	}
	&-pourcentage {
		padding-top: 20px;
	}
	.number {
		font-weight: 900;
		margin-bottom: 25px;
		font-size: 24px;
	}
	.paragraphe {
		margin-bottom: 25px;
	}
}
